

<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fylo FrontEnd</title>
    <link rel="stylesheet" type="text/css" href="deskindex.css">
    <link rel="stylesheet" type="text/css" href="deskbody.css">
    <link rel="stylesheet" type="text/css" href="desknav.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
  <div class="grid-container">
    <div class="grid-item-one">
      <img class="main-image" src="../images/illustration-main.svg" height="auto" width="auto">
    </div>
    <div class="grid-item-two">
        <header>
          <nav class="topnav">
            <img class="logo" src="../images/logo.svg" height="30" width="90">
            <p class="text">Fylo</p>
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.gmail.com"><i class="fas fa-envelope-square"></i></a>
          </nav>
        </header>
        <main class="main">
          <h3 class="tagline"> All your files in one secure <br> location, accessible anywhere</h3>
          <p class="description"> Fylo stores all your most important files in one secure location. <br> Access them wherever you need, share and collaborate with <br> friends, family, and co-workers </p>
          <h4 class="access">Sign Up For Access</h4>
          <div class="sign-up">
            <input class="form-control" type="text">
            <input class="form-button" type="submit" placeholder="Sign-Up">
          </div>
        </main>
            <div class="privacy">
                Privacy Policy
            </div>
      </div>
    </div>
  </body>
</html>